/*左下部Buano卡片*/
.cardBurano{
    background: url("../images/bg-1.png");
    width: 340px;
    height: 400px;
    position: relative;
    float: left;
}

.cardBurano__heartIcon{
    position: absolute;
    top: 3rem;
    left: 18rem;
}

.cardBurano__title{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    top: 18rem;
    left: 3rem;
}

.cardBurano__subtitle{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    top: 21rem;
    left :3rem;
}

.cardBurano__button{
    position: absolute;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 2rem;
    top: 20rem;
    left: 13.5rem;
}

.cardBurano__banner{
    background-color: red;
    width: 21.3rem;
    height: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
}

/*右上角的Picture卡片*/
.cardPicture{
    width: 140px;
    height: 115px;
    background: #0275d8;
    position: relative;
    float: left;
    border-radius: 5px;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
}

.cardPicture__pictureIcon{
    position: absolute;
    top: 1.75rem;
    left: 3.25rem;
}

.cardPicture p{
    position: absolute;
    top: 3.5rem;
    left: 2.75rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
}

/*右上角的Place卡片*/
.cardPlace{
    width: 140px;
    height: 115px;
    background: #7b44ca;
    position: relative;
    float: left;
    border-radius: 5px;
}

.cardPlace__placeIcon{
    position: absolute;
    top: 1.75rem;
    left: 3.25rem;
}

.cardPlace p{
    position: absolute;
    top: 3.5rem;
    left: 2.75rem;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
}

/*右下角的Colosseum卡片*/
.cardColosseum{
    width: 340px;
    height: 245px;
    background: url("../images/bg-4.png");
    position: relative;
    float: left;
}

.cardColosseum__dotIcon{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1.5rem;
    left: 18rem;
}

.cardColosseum__buttonItaly{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 4rem;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
}

.cardColosseum__bodyHeader{
    font-weight: lighter;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 4rem;
    left: 1.5rem;
    font-family: sans-serif;
}

.cardColosseum p{
    font-weight: lighter;
    color: white;
    font-size: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-family: sans-serif;
}

/*左边的Venice卡片*/
.cardVenice{
    width: 340px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    background: url("../images/bg-3.png") no-repeat;
    position: relative;
    float: left;
}

.cardVenice__buttonItaly{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 4rem;
    position: absolute;
    left: 15.5rem;
    top: 1.5rem;
}

.cardVenice__bodyHeader{
    position: absolute;
    left: 1rem;
    top: 12rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: lighter;
}

.cardVenice p{
    position: absolute;
    left: 1rem;
    top: 14rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: 0.6;
    background: -webkit-linear-gradient(bottom,#eee,#333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardVenice__buttonView{
    width: 8rem;
    height: 2.7rem;
    position: absolute;
    top: 20rem;
    left: 7rem;
    color: white;
    background-color: #392ed4;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    z-index: 1;
}

/*中间的Florence卡片*/
/*第一种方法 父元素relative，子元素absolute */
.cardFlorence {
    width: 722px;
    height: 400px;
    background-image: url("../images/bg-2.png");
    position: relative;
    float: left;
}

.cardFlorence h1{
    font-weight: lighter;
    color: white;
    font-size: 3rem;
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    font-family: sans-serif;
    z-index: 1;
}

.cardFlorence h2{
    font-weight: lighter;
    color: #53CBA0;
    font-size: 1rem;
    position: absolute;
    bottom: 7rem;
    left: 3rem;
    font-family: sans-serif;
    z-index: 1;
}

.cardFlorence__buttonView{
    width: 8rem;
    height: 2.7rem;
    position: absolute;
    bottom: 4rem;
    left: 35rem;
    color: white;
    background-color: #0275d8;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    z-index: 1;

}
.cardFlorence__buttonItaly{
    width: 4rem;
    position: absolute;
    bottom: 22rem;
    left: 39rem;
    border-radius: 5px;
    border: none;
}

.cardFlorence__banner{
    background-color: #53CBA0;
    width: 0.3rem;
    height: 4rem;
    position: absolute;
    bottom: 4.7rem;
    left: 0.5rem;
    z-index: 1;
}

.cardFlorence p{
    position: absolute;
    top: -7rem;
    left: -7rem;
    color: floralwhite;
    opacity: 0.1;
    font-size: 17rem;
    font-family: sans-serif;
    z-index: 0;
}

